
body{
    background-color: #0b0b11;
    margin: 0;
}


.display__icons{
    background-color: #0b0b11;
    display: flex;
    justify-content: column;
    width: 70px;
    padding: 3px;
}

.icons{
    background-color: #0b0b11;
    margin: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 60px;
    border-radius: 20px;
}

.main{
    background-color: #16171e;
    padding: 10px;
}

.display__partes{
    display: flex;
    flex-direction: row;
}

#ut{
    width: 70px;
}